body {
    text-align: center; /* Pour centrer tout le contenu de la page */
}
        
.container {
    width: 80%;
    margin: 0 auto;
    text-align: center; /* Pour centrer le contenu */
}

.commande {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    text-align: center; /* Pour aligner le texte à gauche à l'intérieur de la commande */
    display: inline-block; /* Pour que les commandes restent côte à côte */
    margin: 10px; /* Espacement entre les commandes */
}

h1 {
    color: #7c5b55; /* Pour que le h1 soit en marron */
    font-size: 2em;
}

.commande h2 {
    color: #7c5b55;
    font-size: 1.8em;
}

.commande p {
    color: #7c5b55;
}

.commande button {
    background-color: #7c5b55;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.commande button:hover {
    background-color: darkbrown;
}
