{% extends 'base.html.twig' %}

{% block title %}Jeux{% endblock %}

{% block body %}
<link href="{{ asset('css/console.css') }}" type="text/css" rel="stylesheet">
<header>
    <h1 class="titre">Jeux Rétro Gaming</h1>
</header>
<div class="conteneur">
    <div class="ligne">
        {% for jeu in jeux %}
            <div class="image-container">
                <div class="image">
                    <a href="{{ path('description', {'id': jeu.id}) }}">
                        <img src="{{ asset(jeu.image) }}" class="console-image" alt="" width="250px" height="200px"/>
                    </a>
                </div>
            </div>
            {% if loop.index % 4 == 0 %}
                </div><div class="ligne">
            {% endif %}
        {% endfor %}
    </div>
</div>
{% endblock %}
